.weatherDataCont{
   /* background: blue;*/
    width:  400px;
    height: 100px;
    line-height: 100px;
    margin: auto;
}

.temperature{
    font-size: 35px;
    font-weight: bold;
    padding-left: 20px;
    color: #f7f7f7;
}
.wicon{
     color: #48a9eb;
}

.weatherTemperatureCont{
    /*background: yellow;*/
    width: 60%;
    display: inline-block;
}

.weatherExtraInfoCont{
    /*background: red;*/
    width: 40%;
    display: inline-block;
    line-height: 25px;
    text-align: left;
}


.extraInfoText{
    display: block;
    color: #cecbe0a8;
    font-size: 18px;
    font-weight: bold;
}